body {
  background-color: lightyellow;
  color: white;
}
body .navbar__about-me {
  background-color: lightyellow;
}
body .navbar__about-me a {
  background-color: lightyellow;
  color: black;
}

.background-image {
  background-image: url("/assets/images/3d-digital-landscape-with-space-sky-nebula.jpg");
  height: 100%;
  background-size: cover;
  opacity: 1;
  background-position: center;
  background-repeat: no-repeat;
}