@import './variables.scss';

body {
    background-color: $background-color-about-me;

    .nav__about_me {
        background-color: $background-color-about-me;

        a {
            background-color: $background-color-about-me;
            color: $font_colour_dark;
        }
    }
}