// Variables
@import 'variables.scss';

body {
    background-color: $background-color-contact;
    color: $font_color_light;
    //height: 95vh;

    main {
        
    }

    p, main a {
        font-size: $font_size_large;
        margin-bottom: 20px;
        color: $font_color_light;
        text-decoration: none;
    }

    .nav__contact {
        background-color: $background-color-contact;

        a {
            background-color: $background-color-contact;
            color: black;
        }
    }
}