body {
  background-color: #f14e4e;
  color: white;
}
body p, body main a {
  font-size: 40px;
  margin-bottom: 20px;
  color: white;
  text-decoration: none;
}
body .navbar__contact {
  background-color: #f14e4e;
}
body .navbar__contact a {
  background-color: #f14e4e;
  color: black;
}

i {
  font-size: 3rem;
}

i:hover {
  font-size: 4rem;
}

.l-contacts_grid {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
  grid-template-rows: 100px 100px;
}
.l-contacts_grid div {
  text-align: center;
  line-height: 100px;
}