// Variables
@import 'variables.scss';

body {
    background-color: $background-color-contact;
    //color: $font_color_light;
    //height: 95vh;

    
    p, main a {
        font-size: $font_size_large;
        margin-bottom: 20px;
        color: $font_colour_dark;
        text-decoration: none;
    }

    .navbar__contact {
        background-color: $background-color-contact;

        a {
            background-color: $background-color-contact;
            color: black;
        }
    }

}

i {
    font-size: 3rem;
}

i:hover {
    font-size: 4rem;

}

.l-contacts_grid {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 100px 100px;
    //border: 1px solid black;
    div {
        //border: 1px solid black;
        text-align: center;
        line-height: 100px;
    }
}

.spacer {
    height: 20vh;
}