body {
  color: white;
  /*img {
      background-position: left top;
      //height: 100vh;
      width: 100vw;
  }*/
}
body h1, body h2 {
  font-size: 40px;
  margin: 20px;
}
body h3 {
  font-size: large;
  margin: 20px;
}
body .navbar__home {
  background-color: #b4dcdc;
}
body .navbar__home a {
  background-color: #b4dcdc;
  color: black;
}

.background-image {
  background-image: url("/assets/images/3d-digital-landscape-with-space-sky-nebula.jpg");
  height: 100%;
  background-size: cover;
  opacity: 1;
  background-position: center;
  background-repeat: no-repeat;
}