@import './variables.scss';

body {
    background-color: $background-color-home;
    color: $font_color_light;
    // color: $font_colour_dark;
    
    
    /*img {
        background-position: left top;
        //height: 100vh;
        width: 100vw;
    }*/
    h1, h2 {
        font-size: $font_size_large;
        margin: 20px;
        
    }

    h3 {
        font-size: large;
        margin: 20px;
    }

    .navbar__home {
        background-color: $background-color-home;

        a {
            background-color: $background-color-home;
            color: $font_colour_dark;
        }
    }
}

.homemain {
    background-color: black;
    opacity: 0.8;
    border-radius: 20px;
}

.background-image {
        //background-image: 
    
        background-image: url("/assets/images/3d-digital-landscape-with-space-sky-nebula.jpg");
        height: 100%;
        background-size: contain;
        opacity: 1;
        background-position: center;
        background-repeat: no-repeat;
}