body {
  background-color: #b1b0b0;
  color: white;
}
body img {
  background-position: left top;
  width: 100vw;
}
body h1, body h2 {
  font-size: 40px;
  margin: 20px;
}
body h3 {
  font-size: large;
  margin: 20px;
}
body .navbar__home {
  background-color: #b1b0b0;
}
body .navbar__home a {
  background-color: #b1b0b0;
  color: black;
}