@import './variables.scss';

body {
    background-color: $background-color-projects;
    
    .navbar__projects {
        background-color: $background-color-projects;

        a {
            background-color: $background-color-projects;
            color: black;
        }
    }
}