@import './variables.scss';

body {
    background-color: $background-color-skills;

    .navbar__skills {
        background-color: $background-color-skills;

        a {
            background-color: $background-color-skills;
            color: black;
        }
    }
}

.skillsGrid {
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
}

div[class^="skillsGrid__skills"] {
    width: 200px;
    height: 200px;
    border: solid lightblue 5px;
    border-radius: 3px;
    box-shadow: 10px 10px blue;
    line-height: 200px;
    font-size: 30px;
    img {
        width: 100px;
    }

    :hover {
        border-radius: 3px;
        box-shadow: 10px 10px blue;
    }
}

i {
    font-size: 100px;
}
