* {
  padding: 0;
  margin: 0;
  font-family: arial;
  font-size: 20px;
}

.l-flexcontainer {
  display: flex;
}

.l-grid-container {
  display: grid;
}

body {
  height: 95vh;
}

header {
  background-color: #6eb6b6;
}

.navbar {
  width: 100vw;
  max-width: 900px;
  margin: auto;
  column-width: 100px;
  background-color: #6eb6b6;
  position: sticky;
  top: 0;
  z-index: 1;
}
.navbar div {
  width: 100px;
  height: 45px;
  line-height: 45px;
  margin-left: 20px;
  text-align: center;
  background-color: #6eb6b6;
}
.navbar div a {
  text-decoration: none;
  color: white;
}
.navbar .navbar__home {
  width: 100px;
  margin-left: 0;
  flex-shrink: 0;
}
.navbar .navbar__home:hover {
  background-color: #b4dcdc;
}
.navbar .navbar__links-right {
  width: 100vw;
  justify-content: flex-end;
}
.navbar .navbar__projects:hover {
  background-color: #96fafa;
}
.navbar .navbar__skills:hover {
  background-color: #5d9fb4;
}
.navbar .navbar__about-me:hover {
  background-color: lightyellow;
}
.navbar .navbar__about-me:hover a {
  color: black;
}
.navbar .navbar__contact:hover {
  background-color: white;
}
.navbar .far, .navbar .fa_envelope {
  width: 20px;
}

main {
  margin: auto;
  text-align: center;
}
main .l-vertical-center {
  margin-bottom: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -40%);
  transform: translate(-50%, -40%);
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  max-width: 900px;
  justify-content: space-evenly;
}
.footer div {
  text-align: right;
}
.footer div, .footer div > a, .footer div > span {
  font-size: 14px;
}