// Variables
@import 'variables.scss';


// Global

* {
    padding: 0;
    margin: 0;
    font-family: $fonts;
    font-size: $font_size_main;
}

.flexcontainer {
    display: flex;
}

body {

    height: 95vh;

    // Debugging
    // height: 200vh;          // Debugging only
    // border: 1px solid red; // Debugging only
}

header {
    background-color: $background-color-navbar;
}

// Nav bar

nav {
    width: 100vw;
    max-width: $max-width-navbar;
    margin: auto;
    column-width: 100px;
    background-color: $background-color-navbar;
    position: sticky;
    top: 0;
    z-index: 1;

    div {
        width: 100px;
        height: $nav_bar_height;
        line-height: $nav_bar_height;
        // border: 1px solid black;
        margin-left: 20px;
        text-align: center;
        background-color: $background-color-navbar;
        a {
            text-decoration: none;
            color: $font-color-navbar-light;
        }
    }

    #nav__home {
        width: 150px;
        margin-left: 0;
    }

    #nav__links_right {
        width: 150vw;
        justify-content: flex-end;
    }

    .nav__index:hover {
        background-color: $background-color-home;
    }
    .nav__projects:hover {
        background-color: $background-color-projects;
    }
    .nav__skills:hover {
        background-color: $background-color-skills;
    }
    .nav__about_me:hover {
        background-color: $background-color-about-me;
        a {
            color: black //$font_colour_dark;
        }
    }
    .nav__contact:hover {
        background-color: $background-color-contact;
    }

    .far, .fa_envelope {
        width: 20px;
    }
}

main {
    margin: auto;
    text-align: center;

    .main__vertical_center {
        margin-bottom: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -40%);
        transform: translate(-50%, -40%);
    }
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    //justify-content: space-between;
    grid-template-columns: 33% 34% 33%;
    div {
        text-align: center;
    }
    div, div > a, div > span {
        font-size: $font_size_small;
    }
}