    // Colours
    $background-color-home: lightgrey;
    $background-color-home-dark: grey;
    $background-color-projects: lightgreen;
    $background-color-projects-dark: green;
    $background-color-skills: lightblue;
    $background-color-skills-dark: blue;
    $background-color-about-me: lightyellow;
    $background-color-about-me-dark: yellow;
    $background-color-contact: rgba(168, 83, 83, 0.76);
    $background-color-contact-dark: red;$background-color-navbar: rgb(59, 71, 71);

    // Typography
    $fonts: arial;
    $font_size_main: 16px;

    // Sizes
    $nav_bar_height: 40px;
