    // Variables

    // Background colours
    $background-color-home: rgb(177, 176, 176);
    $background-color-home-dark: rgb(83, 83, 83);
    
    $background-color-projects: lightgreen;
    $background-color-projects-dark: green;
    
    $background-color-skills: rgb(93, 159, 180);
    $background-color-skills-dark: blue;
    
    $background-color-about-me: lightyellow;
    $background-color-about-me-dark: yellow;
    
    $background-color-contact: rgb(241, 78, 78);
    $background-color-contact-dark: red;
    
    // Navbar
    $font-color-navbar-light: white;
    $font-color-navbar-dark: black;
    $background-color-navbar: rgb(110, 182, 182);
    $max-width-navbar: 900px;

    $nav_bar_height: 45px;

    //Font colours
    $font_color_light: white;
    $font_colour_dark: black;

    // Typography
    $fonts: arial;
    $font_size_small: 14px;
    $font_size_main: 20px;
    $font_size_large: 40px;

    // Sizes
